.App {
  background-color: #bad1ff;
  text-align: center;
  height: 100vh;
  color: black;
}

.App-logo {
  height: 96px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-body {
  width: 100%;
}

.App-link, .App-link:visited {
  color: white;
}

.App-link:hover, .App-link:focus, .App-link:active {
  color: #ffffffb9;
}

.menu-left {
  display: flex;
  flex-direction: row;
}

header {
  background-color: #98bcff;
  min-height: 96px;
  font-size: calc(10px + 2vmin);
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
  }
}

.menu-left > header > nav {
  width: 256px;
  flex-direction: column;
}

/* based on https://www.w3schools.com/howto/howto_css_overlay.asp */
.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.center-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

button {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.error{
  color: red;
}

.modal {
  background-color: #bad1ff;
  border-radius: 4px;
  padding: 20px;
}

.full-width {
  width: 100%;
}